.error {
    color: red;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px;
}

.select2-container .select2-selection--single  {
    height: unset;
}

.table {
    margin-top: 15px;
}

.mr-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.display-none {
    display: none;
}

.cursor {
    cursor: pointer;
}