.error {
    color: red;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px;
}

.select2-container .select2-selection--single  {
    height: unset;
}

.table {
    margin-top: 15px;
}

.mr-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.display-none {
    display: none;
}

.cursor {
    cursor: pointer;
}

#form-search {
    width: 100%;
    margin: 10px 0;
    min-height: 50px;
    line-height: 50px;
}

.pro-col3, .pro-col9 {
    padding: 0;
}

.discount-tooltip {
    position: relative;
    cursor: pointer;
}

.show-tooltip {
    position: absolute;
    top:10px;
    right: 20px;
    display: none;
    padding: 5px;
    background: #0a0a0a;
    border-radius: 5px;
    color: white;
    z-index: 9999;
    width: auto;
}

.discount-tooltip:hover .show-tooltip {
    display: block;
}



